@charset "UTF-8";

* {
  box-sizing: border-box;
}

body {
  text-align:center;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Tahoma', 'Verdana', sans-serif;
}

.main {
  padding-top: 80px;
}

p {
  max-width: 700px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.8;
  font-size: 12px;
}

.holder {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1{
  font-family: sans-serif;
  text-align: center;
  color: purple;
}

#header{
  text-align: center;
    font-size: 30px;
    font-family: Helvetica;
    color:purple;
    background-color: white;
    width:100%;
  /* position fixed mantém a nav bar no topo*/
    position:fixed;
}

#header-img{
  width: 100px;
}

.nav-link{
  color: grey;
  padding: 10px;
}

#nav-bar{
      font-size: 15px;
      border-radius: 5px;
}

#nav-bar li{
    float: left;
    display: flex;
    padding: 10px 15px;
    color: #424242;
    text-decoration: none;

}

#nav-bar ul{
    margin: 0;
    padding: 0;
    list-style: none;
     display: flex;
     font-size: 15px;
     font-weight: 600;
}

#nav-bar a{
  margin: 0 2px;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  color: #000;
  background-color: #fff;
}

#video{
  text-align:center;
}

@media (max-width: 500px) {
  #header {
    flex-direction: column;
  }
}